<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Free movie catalogue for you">
  <meta name="theme-color" content="#DB0000"/>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="icon" href="./favicon.jpeg">
  <link rel="manifest" href="./app.webmanifest">
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <title>Hunger Apps</title>
</head>
<body>
  <a href="#mainContent" class="skip-content">Skip to Content</a>
  <header>
    <header-restaurants title="Hunger Apps" class="app-bar"></header-restaurants>
  </header>
  <main id="mainContent"></main>
  <footer id="footer">
    <p>Copyright © 2020 - Hunger Apps</p>
  </footer>
</body>
</html>