@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Fredoka One';
  background-color: orange;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.restaurant_overview {
  overflow: hidden;
}
main .hero img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  object-position: center;
}
.skip-content {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: red;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-content:focus {
  top: 0;
}
.movie .restaurant_info h4 {
  margin: 8px 0;
}
.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db0000;

  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;

  font-size: 18px;
  color: white;
  cursor: pointer;
}
.app-bar {
  padding: 8px 16px;
  background-color: orange;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
}

.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__brand h1 {
  color: red;
  text-transform: uppercase;
  font-size: 22px;
  user-select: none;
}

.app-bar .app-bar__navigation {
  position: absolute;
  top: 50px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  padding: 8px;
  background-color: orange;
  overflow: hidden;
}

.app-bar .app-bar__navigation.open {
  left: 0;
}
.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: red;
  padding: 12px;
  width: 100%;
}
.app-bar .app-bar__navigation ul li a:hover {
  border-bottom: 3px solid black;
}
#hamburgerButton {
  padding: 15px;
}
main {
  flex: 1;
}

.content {
  margin: 0 auto;
  padding: 32px;
  min-height: 100%;
}

.content .content__heading {
  text-align: center;
  font-weight: normal;
}
.movies {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin: 32px 0;
}
.restaurant-item {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.restaurant-item__header {
  position: relative;
}

.restaurant-item .restaurant-item__header .restaurant-item__header__poster {
  width: 100%;
}

.restaurant-item .restaurant-item__header .restaurant-item__header__rating {
  position: absolute;
  padding: 8px;
  bottom: 20px;
  left: 0;
  display: inline-block;
  background-color: wheat;
  color: white;
}

.restaurant-item .restaurant-item__header .restaurant-item__header__rating .restaurant-item__header__rating__score {
  margin-left: 10px;
}

.restaurant-item .restaurant-item__content {
  padding: 16px;
}
.restaurant-item-title {
  display: block;
  /* padding: 10px 0;
  width: 44px;
  height: 44px; */
}

.restaurant-item .restaurant-item__content h3 {
  margin: 0 0 10px 0;
}

.restaurant-item .restaurant-item__content h3 a {
  color: #db0000;
  text-decoration: none;
}

.restaurant-item .restaurant-item__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.movie {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px 16px;
}

.movie .restaurant_poster {
  width: 100%;
  max-width: 400px;
}

.movie .restaurant_info h4 {
  margin: 8px 0;
}
.review {
  border: 3px solid black;
  margin: 10px 0px;
}
.review #date {
  color: rgb(218, 85, 85);
}
footer {
  margin: 20px;
  text-align: center;
}
@media screen and (max-width: 650px) {
  .movie {
    max-width: 350px;
  }
}
@media screen and (min-width: 650px) {
  .app-bar {
    grid-template-columns: 1fr auto;
    padding: 8px 32px;
  }

  .app-bar .app-bar__brand h1 {
    font-size: 1.5em;
  }

  .app-bar .app-bar__menu {
    display: none;
  }

  .app-bar .app-bar__navigation {
    position: static;
    width: 100%;
  }

  .app-bar .app-bar__navigation ul li {
    display: inline-block;
  }

  .app-bar .app-bar__navigation ul li a {
    display: inline-block;
    width: 120px;
    text-align: center;
    margin: 0;
  }

  .movies {
    grid-template-columns: 1fr 1fr;
  }

  .movie {
    grid-template-columns: auto 1fr;
  }

  .movie .restaurant_title {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .movie .restaurant_overview {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media screen and (min-width: 800px) {
  .app-bar .app-bar__brand h1 {
    font-size: 2em;
  }
}

@media screen and (min-width: 850px) {
  .movies {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .movies {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1600px) {
  .movies {
    grid-template-columns: repeat(5, 1fr);
  }
}
